{% extends "layout.html" %}

{% block main %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <img src="https://img.icons8.com/dotty/80/D3D3D3/disappointed.png" alt="sad">
        <h1 class="display-5 text-pink">Oops!</h1>
        <p class="lead">
                <strong>{{ message }}</strong>
        </p>
        {% if back is defined %}
        <a class="btn btn-outline-secondary mt-3" href="{{back}}">Back</a>
        {% else %}
                {% if session.user_id %}
                        <a class="btn btn-outline-secondary mt-3" href="/home">Home</a>
                {% else %}
                        <a class="btn btn-outline-secondary mt-3" href="/">Home</a>
                {% endif %}
        {% endif %}
{% endblock %}