{% extends "layout.html" %}

{% block main %}
<div class="row text-center">
    <div class="col pt-4 pb-2">
        <h1 class="display-3 text-pink">
            Our styles
        </h1>
        <p class="lead fw-100">
            Not sure which class to take? Find out a bit more about our class styles
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm col-lg-6 py-md-5 py-3 text-center">
        <img src="static/salsacalena.png" class="img-fluid rounded" alt="Salsa Calena">
    </div>
    <div class="col-sm col-lg-6 py-md-5 py-3 text-left">
        <p class="info-p">
            <span class="styletext">Salsa Caleña</span> is a special style of salsa that originates from the Colombian city of Cali, which is also known as the capital of salsa.
            </p>
        <p class="info-p">
            This style is famous for its lightning speed footwork that interprets all instruments of a song, while dancers maintain their upper body still and controlled.
        </p>
        <p class="info-p">
            This class will raise your heartbeat and challenge you physically and mentally, while you learn fast footwork combinations alongside traditional salsa music from Cali, Colombia.
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm col-lg-6 py-md-5 py-3 text-center">
        <img src="static/salsaon1.png" class="img-fluid rounded" alt="ON1">
    </div>
    <div class="col-sm col-lg-6 py-md-5 py-3">
        <p class="info-p">
            <span class="styletext">Salsa On1</span>, also known as LA style or crossbody salsa is distinguished by stepping forward on the first beat of the music with your left foot.
        </p>
        <p class="info-p">
            During social dances, couples usually break free to do salsa shines to interpret the parts of the songs that are more instrumental.
        </p>
        <p class="info-p">
            Our classes will be focusing on learning short ‘salsa shine’ routines. This will help you to improve your technique, timing and body movement so you’ll have more confidence dancing solo!
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm col-lg-6 py-md-5 py-3 text-center">
        <img src="static/bachata.png" class="img-fluid rounded" alt="Bachata">
    </div>
    <div class="col-sm col-lg-6 py-md-5 py-3">
        <p class="info-p">
            <span class="styletext">Bachata</span> is a style of dance that originated in the Dominican Republic. It is characterised by its basic step of three steps, followed by a tap including a hip movement on the 4th beat.
        </p>
        <p class="info-p">
            Over the years the dance has evolved into many different styles: Bachata Sensual, Moderna, Fusion, Traditional and the original Dominican style.
        </p>
        <p class="info-p">
            Join us to learn footwork routines combining all of these styles or grab a partner and learn how to dance in our Bachata Partnerwork classes.
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm col-lg-6 py-md-5 py-3 text-center">
        <img src="static/latinfitness.png" class="img-fluid rounded" alt="Latin Fitness">
    </div>
    <div class="col-sm col-lg-6 py-md-5 py-3">
        <p class="info-p">
            Our <span class="styletext">Latin Fitness</span> classes have been specially designed by La Sucursal Dance - we like to think of it as our own version of Zumba!
        </p>
        <p class="info-p">
            We will be combining elements of salsa, bachata, mambo, merengue and reggaeton to get your heart rate up and burn calories!
        </p>
        <p class="info-p">
            Join this high energy class if you want to have fun moving to Latin music and burn calories without even realising.
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-sm col-lg-6 py-md-5 py-3 text-center">
        <img src="static/ladiesstyle.png" class="img-fluid rounded" alt="Salsa Calena">
    </div>
    <div class="col-sm col-lg-6 py-md-5 py-3">
        <p class="info-p">
            <span class="styletext">Ladies Style</span> is a class for anyone wanting to develop their femininity in their salsa.
        </p>
        <p class="info-p">
            This class will focus more on drill movements and techniques to help you to develop your arm, hand styling and body movement.
        </p>
    </div>
</div>
<div class="row">
    <div class="col text-center pb-2">
        <p>
            <span class="styletext">
                Still not sure which class is right for you?
            </span>
        </p>
        <p>
            Send our teachers an email at <span class="text-pink">lasucursaldance@gmail.com</span> and we'll be happy to help.
        </p>
    </div>
</div>
{% endblock %}